@font-face {
    font-family: 'Hind Siliguri';
    src: url(./fonts/HindSiliguri-Regular.ttf);
}
@font-face {
    font-family: 'Hind Siliguri Bold';
    src: url(./fonts/HindSiliguri-Bold.ttf);
}
@font-face {
    font-family: 'Hind Siliguri Light';
    src: url(./fonts/HindSiliguri-Light.ttf);
}
h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #030D15;
    margin: 0px;
}
.first_text h4{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #C72535;
    opacity: 0.6;
    margin-top: 75px;
    margin-bottom: 0px;
}
.blue_text h1{  
    font-family: 'Hind Siliguri Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 61px;
    line-height: 73px;
    color:  #247CC0;
    padding-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.another_text h1{
    font-family: 'Hind Siliguri Light';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 73px;
    color:#030D15;
    margin-top: 0px;
    margin-bottom: 0px;
}
.third_text h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #030D15;
    opacity: 0.6;
    text-transform: none;
    margin-top: 29px;
}
.button h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 18px;
}
.price_1 h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;  
    text-align: center;
    color: #030D15;
}
.price_2 h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-decoration-line: line-through;
    color: #030D15;
    opacity: 0.5;
}
.second_page_text h2{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: #030D15;
    margin-top: 0px;
    margin-bottom: 0px;

}
.second_page_text h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #030D15;
    text-transform: none;
}
.second_page_price1 h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #030D15;
}
.second_page_price2 h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    text-decoration-line: line-through;
    color: #030D15;
    opacity: 0.5;
}
.third_page_text h4{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #F4F9FC;
    opacity: 0.6;
    margin-top: 0px;
    margin-bottom: 0px;
}
.third_page_text h2{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 40px;
    color: #F4F9FC;
    margin-top: 5px;
    margin-bottom: 0px;
}
.third_page_text h5{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    text-transform: uppercase;
    color: #F4F9FC;
    margin-top: 7px;   

}

.fourth_page_right_side_text h5{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #C72535;
    opacity: 0.6;
    margin-top: 160px;
}
.fourth_page_right_side_text p{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 71px;
    color: #030D15;
    margin: 0px;
}
.fourth_page_right_side_text h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #030D15;
    opacity: 0.6;
    margin-top: 115px;
    text-transform: none;
}
li{
    font-family:'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: #030D15;
} 
.contact_text h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #C72535;
    opacity: 0.6;
    margin: 0px;
}
.contact_text h2{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: #030D15;
    margin: 0px;
}
.contact_text h5{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #030D15;
    opacity: 0.6;
    margin-top: 8px;
}
.contact_form h2{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer_logo h3{
    margin-top: 22px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0.6;
}
.inf h2{
    margin-top: 75px;
    margin-bottom: 11px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.inf h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 15px;
}
.about_the_store h2{
    margin-top: 75px;
    margin-bottom: 11px;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.about_the_store h3{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0.6;
    text-transform: none;
    margin-top: 26px;
    margin-bottom: 14px;
}
.about_the_store a{    
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;

}
select {
    background-color: transparent;
    border:none;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
