/* .an_exiting_place_progect{
    height: 5000px;
    width: 1900px;
    background:#E5E5E5;
} */
/* ----FIRST_PAGE---- */

.main{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;    
}

/* ----MENU---- */

a{
    text-decoration: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 88px;
}
.menu_section{
    display: flex;
    align-items: center;
}
.logo_image img{
    width: 100px;
    height: 28px;
    margin-top: 22px;
}
.menu_item_menu_button{
   
    margin-right: 56px;
    margin-top: 33px;
    position: relative;
}
.menu_item_menu_button::before{
    
    background-image: url("./img/arrow.png");
    content: "";  
    width: 10px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 100%;  
    margin-left: 8px;
    margin-top: -4px;  
    
}
.menu_item_menu_button_contacts{
    margin-top: 33px;
}
.menu_item_menu_option{
    display: flex;     
    align-items: center;
}
.search_image{
    margin-top: 37px;
}
.korzina_image{
    margin-top: 32px;
    margin-left: 30px;
}
.person_image{
    margin-top: 27px;
    margin-left: 24px;
}

/* ----CONTENT---- */

.content{
    display: flex;
}
.content_text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
.blue_text_background{
    margin-left: -10px;
    width: 500px;
    height: 70px;
    background: rgba(36, 124, 192, 0.1);
}
.another_text{
    margin-right: -65px;
}
.content_image{
    flex: 1;
    /* как сработало? */
    margin-left: 120px;
}
.container_button{
    display: flex; /* использовать flexbox */
    justify-content: space-between; /* разместить элементы по краям */
    align-items: center; /* выровнять элементы по вертикали */
    flex-wrap: wrap; 
    margin-top: 36px;
}
.button{
    width: 151px;
    height: 58px;    
    background: #247CC0;    
}
.price_1{
    margin-left: 30px;
}
.price_2{
    margin-left: 18px;
}

/* ----LOGOTYPES---- */

.logotypes{
    width: 1140px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 0px;  
    display: flex;
    justify-content: space-between;;
    padding-top: 76px;
    padding-bottom: 76px;
    box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
}
.logo_1{
    margin-left: 118px;
}
.logo_4{
    margin-right: 118px;
}

/* ----SEC0ND_PAGE---- */

.second_page{
    display: flex;
    width: 1140px;
    height: 518px;
    margin-left: auto;
    margin-right: auto; 
    background: #E5E5E5;
}
.second_page_left_side, .second_page_right_side{
    flex:1;
    display: flex;
    flex-direction: row;
    height: 494.5px;
    
}
.image{
    margin-top: 132px;    
    background: url(1504612825_IMG_863860.jpg);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.second_page_image::after{
    content: url("./img/ell.png");  
    width: 44px;
    height: 44px;
    position: absolute;
    margin-top: 100px;     
    margin-left: -25px; 
}
.second_page_text{
    margin-top: 163px;
    margin-left: 30px;
}
.second_page_price{
    display: flex;
    flex-direction: row;
}
.second_page_price{
    position: relative;
    margin-top: 20px;
}
.second_page_line{
    margin-top: 10px;
    width: 13.42px;
    height: 0px;
    opacity: 0.5;
    border: 0.5px solid #030D15;
    transform: rotate(116.57deg);   
}
.second_page_price::after{
    content:"";
    background-image:url('../column/img/star.png');  
    height: 50px;
    width: 52px;  
    position: absolute;
    top:40px;
    display: block;
    background-repeat: repeat-x;
}
/* .second_page_price::after::after{
    content: url("./img/star2.jpg");
    position: absolute;
    background-image:url(./img/star2.jpg);
    top:40px;
} */

/* -----THIRD PAGE----- */

.third_page{
    width: 1140px;
    height: 333.08px;
    display:flex;
    margin-left: auto;
    margin-right: auto; 
    background: #E5E5E5;
}
.third_page_left_side, .third_page_right_side{
    flex:1;
    width: 555px;
    height: 296px;
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}
.third_page_left_side,.third_page_right_side{
    margin-right: 15px;
    position: relative;
}
.third_page_text{
    margin-top: 75px;
    margin-left: 35px;
}
.third_page_left_side_image{
    position: absolute;
    left:234px;
    top:-15px;    
}
.third_page_right_side_image{
    position: absolute;    
    top:36px;
    right:25px;
}

/* -----FOURTH PAGE----- */

.fourth_page{
    display:flex;
    position: relative;
    width: 1600px;
    height: 918px;   
    margin-left: auto;
    margin-right: auto;    
} 
.blue_background{
    position: absolute;
    background: #F4F9FC;    
    width: 1600px;
    height: 632px;
    top:286px;
}
.fourth_page_left_side_image, .fourth_page_right_side_text{
    flex:1;   
}
.background_image{
    background-image: url('./img/egg.png');  
    position: relative;
    width: 610px;
    height: 698px;
    margin-left: 135px;
    margin-top: 218px;
}
.woman_image{
    position: absolute;
    top: -172px;
    right: 0px;      
} 
.fourth_page_right_side_text{
    margin-left: 131px;
    margin-right: 230px;
}
ul{
    list-style-type:none;
    position: absolute; /*зачем */
    margin-top: 40px;        
} 
li{
   margin-bottom: 20px;
   display: flex;
   align-items:center;
}
li::before{
    content: url('./img/tick.png');
    width: 16px;
    height: 16px;
    position: absolute;
    left:13px;
    padding-left: 0px;
}  

/* ------FOOTER------ */

.last_page{    
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.blue_up{
    width: 1600px;
    height: 310px;
    background: #F4F9FC;
    margin-left: auto;
    margin-right: auto;    
    display: flex;
    flex-direction: row;
    align-items:center;    
}
.contact_text{    
    margin-left: 230px;    
}
.contact_text,.contact_form{
    padding-top:100px;
    padding-bottom: 100px;
}
#email{
    margin-left: 338px;
    width: 335px;
    height: 50px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);    
}
input::placeholder{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #030D15;
    opacity: 0.4;
    text-indent: 26px;
}
.contact_form{
    position: relative;
}
.contact_form button{
    width: 122px;
    height: 50px;
    background: #247CC0;
    border: transparent;
    margin: 0px;
    position: absolute;
}
.black_down_footer{
    display: flex;
    flex-direction: row;
}
.black_down_footer{
    width: 1600px;
    height: 396px;
    background: #030D15;
}
.inf{
    display: flex;
    flex-direction: row;
}
.footer_logo{
    margin-top: 80px;
    margin-left: 230px;
}
.information, .footer_menu, .useful_links{
    width: 165px;
    margin-left: 30px;
}
.about_the_store{
    margin-left: 30px;
}
.social_media{
    margin-top: 16px;
}
img:not(#facebook, #footer_logo){
    margin-left: 25px;
}
.language{
    position: relative;
}
.language::before{
    content:url(./img/word.png);
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 58px; 
}
select {
    margin-left: 20px;
    margin-top: 53px;
    -webkit-appearance: none;
    -moz-appearance: none; 
}  
select::-ms-expand {
    display: none; /* Скрыть стрелку в Internet Explorer */
}
select option{
    background-color: black; /* Убираем фон у элемента списка */
}
.language::after{
    content:url("./img/arrow_footer.png");
    width: 20px;
    height: 20px;
    position: absolute;   
    top:53px; 
    left:80px;
}

